<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/style_hw.css">
    <title>
        {% block title %}
        Мой сайт
        {% endblock %}
    </title>
</head>
<body>
<header>
    <img src="logo.png" alt="Логотип">
    <nav>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Портфолио</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>
</header>

<div class="container-fluid">
    <ul class="nav nav-pills justify-content-end align-items-end">
        <li class="nav-item"><a href="/clothes_hw/"
                                class="nav-link">Летняя одежда для всей семьи</a></li>
        <li class="nav-item"><a href="/jacket_hw/"
                                class="nav-link">Верхняя одежда</a></li>
        <li class="nav-item"><a href="/shoes_hw/"
                                class="nav-link">Обувь для больших и взрослых</a></li>
        <li class="nav-item"><a href="/shoes_hw/"
                                class="nav-link">Обувь для больших и взрослых</a></li>
    </ul>
    {% block content %}
    Страница не заполнена
    {% endblock %}
</div>
<footer>
    <p>Copyright (c) 2024. Все права защищены.</p>
    <ul>
        <li><a href="#">Контакты</a></li>
    </ul>
</footer>

</body>
</html>